{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>解密码</title>
<link href="{% static 'appPw/css/login.css' %}" rel="stylesheet" type="text/css" />
    
</head>

<style type="text/css">
input{
	outline-style:none;
	border: 1px solid #ccc; 
	border-radius: 8px 8px 8px 8px ;
	padding: 6px 0px;
	width:280px;
	font-size: 14px;
	font-family: "Microsoft soft";
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
</style>


<body>
<form action="" method="post">
<div id="content">
<div id="login">
<h2>修改密码/网站名为:{{webname}}</h2>
    {% csrf_token %}

<p>新密码</p>

<input type="text" name="newPw1" value="{{newPw1}}" autocomplete="off" required="required" title="未输入密码" />
<p>再次输入新密码</p>

<input type="text" name="newPw2" value="{{newPw2}}" autocomplete="off" required="required" title="未输入密码" />
<p>输入6位数秘钥</p>

<input type="password" name="decryption" value="{{decryption}}" pattern="[\S]{6}" required="required" title="需填入6位秘钥！" />

<br />
<br />
<input type="submit"  value="提&nbsp;&nbsp;交" />
<br>
<h4>
<span style="color:red">{{info}}</span>
</h4>


<a href="{% url 'pwShow' 1 15 %}" >返回信息列表</a>
	<br>

</div>
</div>
</form>
</body>
</html>
