@charset "utf-8";
/* CSS Document */

#base{width:400px; height:900px; margin-left: 20px}
#b1{width:400px; height:146px;margin:auto; margin-top:-1px}
#b2{width:400px; height:146px; margin:auto;margin-top:4px}
#b3{width:400px; height:146px; margin:auto;margin-top:4px}
#b4{width:400px; height:146px;margin:auto;margin-top:4px}
#b5{width:400px; height:146px; margin:auto;margin-top:4px}
#b6{width:400px; height:146px; margin:auto;margin-top:4px}
